/* full screen background */
.night-sky {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0b1026,#0b1026, #cc3656, #0b1026, #0b1026);
  /* overflow: hidden; */
  /* position: relative; */
}

/* stars layer */
.stars, .stars-small, .stars-big {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
 
  pointer-events: none;
  z-index: 0;
}

.stars {
  position: fixed;
  inset: 0;
  width: 2px;
  height: 1px;
  background: transparent;
  

  box-shadow:
    5vw 10vh #fff,
    15vw 30vh #fff,
    25vw 60vh #fff,
    35vw 40vh #fff,
    45vw 85vh #fff,
    55vw 20vh #fff,
    65vw 70vh #fff,
    75vw 35vh #fff,
    85vw 80vh #fff,
    95vw 50vh #fff,
    10vw 75vh #fff,
    20vw 15vh #fff,
    30vw 90vh #fff,
    50vw 10vh #fff,
    70vw 55vh #fff,
    90vw 25vh #fff;
    

  animation: twinkle 2s infinite alternate;
  pointer-events: none;
}
.stars-small {
  width: 0.5px;
  height: 1px;
  box-shadow:
    8vw 20vh #fff,
    18vw 50vh #fff,
    28vw 80vh #fff,
    38vw 30vh #fff,
    48vw 70vh #fff,
    58vw 40vh #fff,
    68vw 90vh #fff,
    78vw 15vh #fff,
    88vw 60vh #fff,
    98vw 35vh #fff,
    12vw 85vh #fff,
    22vw 25vh #fff,
    32vw 65vh #fff,
    52vw 5vh #fff,
    72vw 45vh #fff,
    92vw 95vh #fff;
    

}
.stars-big {
  border-radius: 50%;
  width: 3.85px;
  height: 2.75px;
  box-shadow:
    22vw 30vh #fff,
    62vw 60vh #fff,
    93vw 79vh #fff;
}
/* @media (max-width: 768px) {
  .stars { position: absolute; }
} */

.night-sky::before {
  content: "";
  /* position: absolute; */
  inset: 0;
  background: radial-gradient(
    circle at 80% 20%,
    rgba(255,255,255,0.15),
    transparent 40%
  );
}

.yellow-text {
  color: #f3df26;
    text-shadow: 0 0 8px rgba(0,0,0,.6);

}
.brown-text {
  color: #a09005;
}

/* Gradient card */
.gradient-border {
  border-radius: 16px;
  padding: 1rem;
  background:
    linear-gradient(#0b1026, #0b1026) padding-box, /* inner dark background */
    linear-gradient(135deg, #6a85ff, #1e4558) border-box;
    border-color: rgba(129, 110, 51, 0.85) rgba(1, 42, 63, 0.85) !important;
    box-shadow: 0 0 15px rgb(1, 9, 49);

  transition: all 0.3s ease; /*smooth transition for border changes */
}

/* Yellow highlight when max reached */
.gradient-border.max-reached {
  border-color: #504c14 !important;
  box-shadow: 0 0 15px yellow;
}

/* Circle highlight */
.circle-total-btn.max-reached {
  border-color: #9e9628 !important;
  box-shadow: 0 0 10px #b6ac25;
  color: rgb(92, 92, 14);
  text-shadow: 0 0 10px #504c14;
}

.circle-total-btn.active {
  color: #f5e830ff;
  text-shadow: 0 0 10px #8a8320ff;
}


/* soft twinkle */
@keyframes twinkle {
  from { opacity: 0.6; }
  to   { opacity: 1; }
}

.gradient-btn {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(#0b1026,#1e2f85, #192458, #0b1026);
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  overflow: hidden;
  transition: color 0.3s;
}

.gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(#504515ee, #0e2b3a);
  z-index: -1;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

.gradient-btn:hover::before {
  transform: scaleX(1);
}

.gradient-btn:hover {
   color: #5e470b;
  box-shadow: 0 0 15px rgba(94, 115, 231, 0.5), 0 0 30px rgba(110, 133, 255, 0.3);

} 

.circle-total-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;       /* makes it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  color: white;
  transition: all 0.3s ease;
  font-variant-numeric: tabular-nums;
  background:
    linear-gradient(#0b1026, #0b1026) padding-box,
    linear-gradient(135deg, #6a85ff, #1e4558) border-box;
  border: 2px solid transparent;
  cursor: pointer;
}


.circle-order-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;       /* makes it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  color: #a09005;
  transition: all 0.3s ease;
}

/* Gradient border + dark inner */
.circle-order-btn {
  background:
    linear-gradient(#3b310d, #13110c) padding-box,
    linear-gradient(135deg, #3b310d, #3b310d) border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
.moon-container {
  position: relative;
  width: min(300px, 80vw);
  height: min(300px, 80vw);
  margin: 10px auto;
}

.moon {
  position: absolute;
  left: 0;
  font-size: 3rem;
  animation: circleMove 3s linear infinite;
}

    @keyframes circleMove {
      0% {
        transform: translate(80px, 0);
      }
      25% {
        transform: translate(160px, 80px);
      }
      50% {
        transform: translate(80px, 160px);
      }
      75% {
        transform: translate(0, 80px);
      }
      100% {
        transform: translate(80px, 0);
      }
    }

     .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .line {
      height: 2px;
      width: 120px;
      background: linear-gradient(to right, transparent, #53460c);
    }

    .line.right {
      background: linear-gradient(to left, transparent, #53460c);
    }

    .circle {
      width: 18px;
      height: 18px;
      border: 1px solid #53460c;
      border-radius: 50%;
      margin: 0 15px;
      box-shadow: 0 0 10px rgba(255,255,255,0.6);
    }


    .shake {
      animation: shake .4s;
    }

    @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-4px); }
      50% { transform: translateX(4px); }
      75% { transform: translateX(-4px); }
      100% { transform: translateX(0); }
    }